body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #190477;
}
#PSU_image {
    position: absolute;
    width: 120px;
    height: 150px;
    left: 25px;
    top: 2px;
}
h1 {
    position: absolute;
    width: 485px;
    height: 80px;
    left: 200px;
    top: 0px;

    font-family: 'Copse';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;


}
.buttonStyle {
    position: absolute;
    width: 440px;
    height: 267px;
    left: 25px;
    top: 436px;
    background: #00B7FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#forkAndKnife {
    /* restaurant_24dp_5F6368_FILL0_wght400_GRAD0_opsz24 2 */

box-sizing: border-box;

position: absolute;
width: 132px;
height: 131px;
left: 642px;
top: 62px;
border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}